---
import Layout from '../layouts/Layout.astro'
import { getCollection, render } from 'astro:content';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.data.slug },
    props: { post }  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const frontmatter = { title: post.data.title }
---
<Layout title={post.data.title}>
  <Header back />

  <h1>{post.data.title}</h1>
  <Content />
  <Footer />
</Layout>
