---
import { getCollection } from 'astro:content'
import { formatDate } from '../lib/formatDate'
const { collection } = Astro.props
const allItems = (await getCollection(collection, ({ data }) => {
  if (!import.meta.env.PROD) return true
  if (data.date > new Date()) return false
  return data.draft !== true
})).sort((a, b) => {
  return b.data.date - a.data.date
})
---

<ul>
  {allItems && allItems.map(item => {
    return (
      <li>
        {collection === 'shop' && <span>${item.data.price}</span>}
        {collection === 'posts' && <span>{formatDate(item.data.date)}</span>}
        <a href={`/${item.data.slug}`}>
           {item.data.title}
        </a>
      </li>
    )
  })}
</ul>