---
const { back, title, menu } = Astro.props
const backTo = Astro.url.pathname && Astro.url.pathname === '/menu' ? '/' : '/menu'
---

<div class="back">
  {back && <a href={backTo} aria-label="Back">..</a>}
  {menu && <a href="/menu" aria-label="Menu">::</a>}
  {!back && !menu && <a>&nbsp;</a>}
</div>
{title && <h1>THE PAY IT FORWARD LICENSE</h1>}