---
const { back, title, menu } = Astro.props
const backTo = Astro.url.pathname && Astro.url.pathname === '/menu' ? '/' : 'menu'
---

<div class="back">
  {back && <a href={backTo}>..</a>}
  {menu && <a href="/menu">::</a>}
  {!back && !menu && <a>&nbsp;</a>}
</div>
{title && <h1>THE PAY IT FORWARD LICENSE</h1>}