---
import { getCollection, getEntry } from 'astro:content';
const allBlogPosts = await getCollection('blog');

const dateOptions: object = {
	month: 'numeric',
	day: 'numeric',
};

const getDate = (publishDate) => {
  return `${publishDate.getFullYear()}-${(publishDate.getMonth() + 1).toString().padStart(2, '0')}-${publishDate.getDate().toString().padStart(2, '0')}`
}
---

<ul>
  {allBlogPosts && allBlogPosts.map((post, key) => {
    return (
      <li>
        {getDate(post.data.date)}
        <a href={`/${post.data.slug}`}>
           {post.data.title}
        </a>
      </li>
    )
  })}
</ul>