@use 'mixins.scss';

html {
  height: 100%;
  font-size: 16px;
}

html * {
  font-size: 14px !important;
}

html.smooth {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  line-height: 1.4rem;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}

:is(h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: .9rem;
}

h5 + p {
  margin-top: .4rem;
}

h1 + p:has(> img) {
  margin-top: 1.8rem;
}

h1, h2, h3, h4, h5, h6, p, li, a, b, strong, pre, th, td, sub, sup, blockquote, code, html {
  line-height: 1.5rem;
  transition: all .3s ease;
  font-family: monospace;
}

h2 {
  &:before {
    content: '> '
  }
}

@counter-style numbers {
  system: numeric;
  symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  suffix: '  ';
  pad: 3 '0';
}

ol {
  list-style: numbers;
}

ul {
  padding: 0;
}

p, ul, ol {
  margin: .8rem 0;
}

ul ul, ol ol {
  margin: 0;
}

p, li, td, th, code {
  word-break: break-word;
  hyphens: auto;
  text-align: justify;
  text-wrap: pretty;
  word-spacing: -1px;
  letter-spacing: -.3px;
  @include mixins.prefix(text-justify, distribute);
}

.collection li {
  text-align: left;
}

ul li {
  &:not(footer ul > li) {
    list-style: none;
    list-style-type: '-\00a0';
    margin-left: 1rem;
  }
}

footer ul li {
  list-style-type: '';
  margin-left: 0;
}

.icon {
  vertical-align:top;
  line-height: 1.8rem;
}

.back {
  a {
    text-decoration: none;
    margin-bottom: 1.5rem;
    display: inline-block;
    clear:both;
  }
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 3rem 1rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

hr {
  border: 0;
  text-align: left;
  margin: 1.7rem 0 1rem 0;
  &:before {
    content: '---'
  }
}

code {
  padding: .1rem .2rem;
}

code:has(> span) {
  padding: 0;
}

pre:has(code) {
  padding: .65rem .9rem;
}

table {
  width: 100%;
  :is(td, th) {
    white-space: nowrap;
    min-width: 2rem;
  }

  :is(td, th):not(:first-child):not(:last-child) {
    text-align: center;
    padding: 0 .5em;
  }

  :is(td, th):first-child {
    text-align: left;
    width: 100%;
  }

  :is(td, th):last-child {
    text-align: right;
  }

  td:has(> sup) {
    &:before {
      content: '\00a0';
      font-size: .5rem !important;
    }
  }

  sup {
    font-size: 0 !important;
    &:after {
      content: '*';
      font-size: .5rem !important;
    }
  }
}

blockquote {
  margin: 1.5rem 0;
  padding: 0 1rem;
  border-left: 5px solid;
}

img {
  display: inline-block;
}