@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin link($color, $text) {
  color: $color;
  &:focus, &:hover {
    color: $text;
    background-color: $color;
    border: 0;
    outline: 0;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: monospace;
  line-height: 1.4rem;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}

html * {
  font-size: 14px !important;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  line-height: 1.5rem;
  transition: all .3s ease;
  font-family: monospace;
}

h2 {
  &:before {
    content: '> '
  }
}

ul {
  padding: 0;
}
ol {
  padding: 0 0 0 1.6rem;
}

p, ul, ol {
  margin: .8rem 0;
}

ul ul, ol ol {
  padding-left: 1.2em;
  margin: 0;
}

p, li {
  word-break: break-word;
  hyphens: auto;
  text-align: justify;
  text-wrap: pretty;
  word-spacing: -1px;
  letter-spacing: -.3px;
  @include prefix(text-justify, distribute);
}

ul > li {
  &:before {
    content: '- '
  }
  list-style: none;
}

ol > li {

}

footer ul > li {
  &:before {
    content: ''
  }
}

.icon {
  vertical-align:top;
  line-height: 1.8rem;
}

.back {
  a {
    text-decoration: none;
    margin-bottom: 1.5rem;
    display: inline-block;
    clear:both;
  }
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

hr {
  border: 0;
  text-align: left;
  margin: 1.6rem 0 1rem 0;
  &:before {
    content: '---'
  }
}

@mixin theme($name, $font, $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8, $color9, $color10) {
  html[theme=#{$name}] {
    background-color: $color1;
    h1 {
      color: $color4;
    }
    h2 {
      color: $color5;
    }
    h3 {
      color: $color6;
    }
    h4 {
      color: $color7;
    }
    h5 {
      color: $color8;
    }
    a {
      @include link($color9, $color1);
    }
    b, strong, footer a {
      color: $color10;
    }
    footer a {
      @include link($color10, $color1);
    }
    p, li {
      color: $color2;
    }
    footer li:last-child, hr {
      color: $color3;
    }
    * {
      font-family: #{$font};
    }
  }
}

// div.test {
//   // Base
//   color: #303446;
//   // Rosewater
//   color: #f2d5cf;
//   // Flamingo
//   color: #eebebe;
//   // Pink
//   color: #f4b8e4;
//   // Mauve
//   color: #ca9ee6;
//   // Red
//   color: #e78284;
//   // Maroon
//   color: #ea999c;
//   // Peach
//   color: #ef9f76;
//   // Yellow
//   color: #e5c890;
//   // Green
//   color: #a6d189;
//   // Teal
//   color: #81c8be;
//   // Sky
//   color: #99d1db;
//   // Sapphire
//   color: #85c1dc;
//   // Blue
//   color: #8caaee;
//   // Lavender
//   color: #babbf1;
//   // Text
//   color: #c6d0f5;
// }
// Menlo, Roboto Mono, Source Code Pro
@include theme(
  cat, // Name
  "Roboto Mono, Source Code Pro, Menlo, monospace", // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7B829E, // Footer and HR
  #A6D189, // H1 // Greene
  #8CAAEE, // H2 // Blue
  #E78284, // H3 // Red
  #EF9F76, // H4 // Peach
  #81C8BE, // H5 // Teal
  #CA9EE6, // Link color // Muave
  #F4B8E4  // Strong and Bv // Pink
);

@include theme(
  candy, // Name
  "Roboto Mono, Source Code Pro, Menlo, monospace", // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7C818B, // Footer and HR
  #B2EAA3, // H1 // Greene
  #6AC0E8, // H2 // Blue
  #FCADE7, // H3 // Red
  #EF9F76, // H4 // Peach
  #81C8BE, // H5 // Teal
  #BAA7F2, // Link color // Muave
  #F1A6DE  // Strong and Bv // Pink
);
