@use 'mixins.scss';

@include mixins.theme(
  cat, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7B829E, // Footer and HR
  #A6D189, // H1 // Greene
  #8CAAEE, // H2 // Blue
  #E78284, // H3 // Red
  #EF9F76, // H4 // Peach
  #81C8BE, // H5 // Teal
  #CA9EE6, // Link color // Muave
  #F4B8E4  // Strong and Bv // Pink
);

@include mixins.theme(
  candy, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7C818B, // Footer and HR
  #B2EAA3, // H1 // Greene
  #6AC0E8, // H2 // Blue
  #FCADE7, // H3 // Red
  #EF9F76, // H4 // Peach
  #81C8BE, // H5 // Teal
  #BAA7F2, // Link color // Muave
  #F1A6DE  // Strong and Bv // Pink
);

@include mixins.theme(
  vibrant, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7C818B, // Footer and HR
  #18E3D0, // H1 // Greene
  #07B0F9, // H2 // Blue
  #E32786, // H3 // Red
  #E9735B, // H4 // Peach
  #81C8BE, // H5 // Teal
  #BAA7F2, // Link color // Muave
  #F1A6DE  // Strong and Bv // Pink
);

@include mixins.theme(
  vibrant, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7C818B, // Footer and HR
  #18E3D0, // H1 // Greene
  #07B0F9, // H2 // Blue
  #E32786, // H3 // Red
  #E9735B, // H4 // Peach
  #81C8BE, // H5 // Teal
  #BAA7F2, // Link color // Muave
  #F1A6DE  // Strong and Bv // Pink
);

@include mixins.theme(
  catdark, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #1E1E2E, // Background // Base
  #C6D0F5, // Text // Text
  #7F849C, // Footer and HR
  #88E0A1, // H1 // Greene
  #6DA8FA, // H2 // Blue
  #EC8BA8, // H3 // Red
  #FAB387, // H4 // Peach
  #89DCEB, // H5 // Teal
  #BAA7F2, // Link color // Muave
  #F2CDCD  // Strong and Bv // Pink
);

@include mixins.theme(
  catalt, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #303446, // Background // Base
  #C6D0F5, // Text // Text
  #7B829E, // Footer and HR
  #85c1dc, // H1 // Greene
  #81c8be, // H2 // Blue
  #e5c890, // H3 // Red
  #EF9F76, // H4 // Peach
  #81C8BE, // H5 // Teal
  #CA9EE6, // Link color // Muave
  #F4B8E4  // Strong and Bv // Pink
);

@include mixins.theme(
  test, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #274653, // Background // Base
  #C6D0F5, // Text // Text
  #7B829E, // Footer and HR
  #299D8F, // H1 // Greene
  #E9C46A, // H2 // Blue
  #F4A261, // H3 // Red
  #E76F51, // H4 // Peach
  #81C8BE, // H5 // Teal
  #F4A261, // Link color // Muave
  #F4B8E4  // Strong and Bv // Pink
);

@include mixins.theme(
  radical, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #141322, // Background // Base
  #B4DAE9, // Text // Text
  rgba(#B4DAE9, .3), // Footer and HR
  #FB4293, // H1 // Greene
  #A4FFE4, // H2 // Blue
  #E5FCA6, // H3 // Red
  #8CE1E7, // H4 // Peach
  #E5FCA6, // H5 // Teal
  #F37AB0, // Link color // Muave
  #F37AB0  // Strong and Bv // Pink
);

@include mixins.theme(
  solarized, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #002B36, // Background // Base
  #98abad, // Text // Text
  rgba(#586E75, .3), // Footer and HR
  #6C71C4, // H1 // Greene
  #268BD2, // H2 // Blue
  #268BD2, // H3 // Red
  #2AA198, // H4 // Peach
  #2AA198, // H5 // Teal859900
  #CB4B16, // Link color // Muave
  #CB4B16  // Strong and Bv // Pink
);

@include mixins.theme(
  lazerwave, // Name
  'Roboto Mono, Source Code Pro, Menlo, monospace', // Font
  #27212E, // Background // Base
  #FFFFFF, // Text // Text
  #7B6995, // Footer and HR
  #74DFC4, // H1 // Greene
  #A96BC0, // H2 // Blue
  #A96BC0, // H3 // Red
  #A6CAD5, // H4 // Peach
  #A6CAD5, // H5 // Teal859900
  #EB64B9, // Link color // Muave
  #EB64B9  // Strong and Bv // Pink
);

div.test {
  // Base
  color: #303446;
  // Rosewater
  color: #f2d5cf;
  // Flamingo
  color: #eebebe;
  // Pink
  color: #f4b8e4;
  // Mauve
  color: #ca9ee6;
  // Red
  color: #e78284;
  // Maroon
  color: #ea999c;
  // Peach
  color: #ef9f76;
  // Yellow
  color: #e5c890;
  // Green
  color: #a6d189;
  // Teal
  color: #81c8be;
  // Sky
  color: #99d1db;
  // Sapphire
  color: #85c1dc;
  // Blue
  color: #8caaee;
  // Lavender
  color: #babbf1;
  // Text
  color: #c6d0f5;
}
